
* {
	margin: 0;
	padding: 0;
}
textarea
{
    width: 90%;
    height: 150px;
    font-family: poppins;
}
.button
{

    color: black;
	padding: 10px 20px;
	font-family: poppins;
	font-size: 15px;
	border-radius: 25px;
	border-color: black;

}
.button:hover
{
    background: #AFEEEE;
    border: none;
    cursor: pointer;
}

.comments {
    margin: 40px 0;

}
div .header

{


  font-size: 2em;
  margin-top: 4em;
  margin-left: 25px;
  margin-right: 0;
  font-weight: bold;
}
}

.submit-btn:hover
{
    background: #AFEEEE;
    border: none;

}
body {
	font-family: 'Poppins', sans-serif;
}
.wrapper {
	width: 1170px;
	margin: auto;

}
img
{
    height:100%;
    weight: 100%;
}
div.new {
  display: block;
  font-size: 2em;
  margin-top: -19em;
  margin-left: 1200px;
  margin-right: 0;
  font-weight: bold;
}
.header
{
    background-color: black;
}

.submit-btn:hover
{
    background: #AFEEEE;
    border: none;

}
a
{
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: black;
}





header {

	background:#87CEFA;
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;

}
.nav-area li {
	display: inline-block;

}
.nav-area li a {
	color: #191970;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	border-radius: 25px;

}
.nav-area li a:hover {
	background: #191970;

	color: #F0F8FF;
}
.logo {
	float: left;
}
.logo img {
	width: 100%;
	padding: 15px 0;
}
.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text h1 span {
	color: #00fecb;
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color: #333;

}
/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	img {
		width: ;
	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
}


