
.nav-area {
    list-style: none;
    margin: 0;
    padding: 0;
}


.nav-area li {
	display: inline-block;

}

.nav-area li a {
	color: #191970;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	border-radius: 25px;

}

.nav-area li a:hover {
	background: #191970;
	color: #F0F8FF;
}

header {
    background-color: #f3fbfe;
    color: white;
    padding: 25px 0;
	box-shadow: 0.5px 1px 8px 0.5px rgb(0, 0, 0);

}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
	display: flex;
    justify-content: center;
}


.dropdown {
    position: relative;
    display: inline-block;
    
    
    
}




.dropdown a:hover{
    border-radius: 5px;
}

.dropbtn {
    cursor: pointer;
    
    
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    color: black;
    border-radius: 5px;
    
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    border-radius: 2px;
    
}

.dropdown-content a:hover {
    background-color: #ffffff;
    color: black;
    border-radius: 5px;
    

}

.dropdown:hover .dropdown-content {
    display: block;
}