

body
{
    background:#F0F8FF;
	font-family: 'Poppins', sans-serif;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins",sans-serif;
}
section
{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
}
section .imgBx
{
	position:  relative;
	width: 50%;
	height: 100%;
	opacity: 0.9;
}
section .img:before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
section .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
section .contentBx
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
	background-color: rgb(226,254,255);
	z-index: 1;


}

.header
{
    position: absolute;
    top: 70px;
  	font-weight: 570;
  	font-size: 3.8em;
    font-family: system-ui;
    text-align: center;
    color: #03045E;
    width: 50%;
    margin: 25px;
	padding-bottom: 10px;
}
.header h1
{
    padding: 12px;
    font-size: 18px;
    text-decoration: none;
}
section .contentBx .formBx
{
	width: 50%;

}


section .contentBx .formBx h1
{
	color: #0077B6;
	font-weight: 600;
	font-size: 2.0em;
	margin-bottom: 20px;
	border-bottom: 4px solid #ccf6fc;
	display: inline-block;
	letter-spacing: 1px;
}
section .contentBx .formBx .inputBx
{
	margin-bottom: 20px;
	font-size: 20px;
	margin-bottom: 5px;
	display: inline-block;
	color: #03045E;
	font-weight: 520;
	font-size: 20px;
	letter-spacing: 2px;
	width: 400px;
	
}


section .contentBx .formBx .inputBx input
{
	width: 100%;
	padding:10px;
	outline: none;
	font-weight: 400px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	letter-spacing: 1px;
	color: black;
	background: #ffffff;
	transition: .4s;
}

section .contentBx .formBx .inputBx input:hover
{
	background-color: #F0F8FF;	
}

section .contentBx .formBx .inputBx p{
	font-size: 14px;
	margin-bottom: 20px;
}

input[type="submit"]
{
	width: 50%;
	height: 50px;
	border: none;
	background: #4682B4;
	border-radius: 5px;
	color: #F5FFFA;
	font-size: 16px;
	outline: none;
	letter-spacing: 2;
	transition: .3s;
	cursor: pointer;

}
input[type="submit"]:hover
{
	background: #000080 ;
	color: #F0F8FF;
	
}



.submit-btn {
    border: none;
    text-decoration: none;
    background-color: #4682B4;
    border: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px 9%;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    transition: .3s;
    font-size: 16px;
    color: #F5FFFA;
    text-decoration: none;
}
.submit-btn:hover
{
	background: #000080;
	
}



@media only screen and (max-width: 768px) {
    .submit-btn {
        padding: 15px 5%;
		font-size: 12px;
    }
	.header{
		font-size: 50px;
	}
}

@media only screen and (max-width: 480px) {
    .submit-btn {
        padding: 15px 5%;
		font-size: 10px;
    }
	.header{
		font-size: 50px;
	}
}



