* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
	background-color:#66CDAA;
}


section{
	display: flex;
	margin-top: 30px;
	align-items: center;
}

div.new {
	font-size: 2em;
	font-weight: bold;
}


.new h1{
	margin-bottom: 20px;
}
.submit-btn {
	color: #fff;
	padding: 10px 20px;
	border-radius: 25px;
	border-color: black;
	text-decoration: none;
	font-size: 18px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: black;
	background-color: white;
	transition: 0.2s;
}

.submit-btn:hover{
    background: rgb(0, 0, 0);
	color: white;
    /* box-shadow: 1px 1px 5px 1px black; */

}



