* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #66cdaa;
}
.wrapper {
    width: 1170px;
    margin: auto;
}
header {
    background: #66cdaa;
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
iframe {
    position: relative;
    top: 200px;
    left: 200px;
}
h1 {
    position: relative;
    width: 50%;
    top: -130px;
    left: 700px;
}
div.Short {
    position: relative;
    width: 50%;
    top: 100px;
    left: 800px;
    font-size: 35px;
}

.nav-area {
    float: right;
    list-style: none;
    margin-top: 30px;
}
.nav-area li {
    display: inline-block;
}
.nav-area li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-radius: 25px;
}
.nav-area li a:hover {
    background: #fff;
    color: #333;
}