* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
	background-color:#87CEFA;
}


section{
	display: flex;
	margin-top: 30px;
	align-items: center;
}

div.new {
	font-size: 1.8em;
	font-weight: bold;
	width: 30%;
}


.new h1{
	margin-bottom: 20px;

}

