
body
{
    background:#F0F8FF;
}
*

{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section
{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
}
section .imgBx
{
	position:  relative;
	width: 50%;
	height: 100%;
	opacity: 0.9;
}
section .img:before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
section .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
section .contentBx
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
	background: #ffffff;
	z-index: 1;


}

.header
{

    position: absolute;
    top: 70px;

  	font-weight: 570;
  	font-size: 3.8em;
  	text-transform: uppercase;
    font-family: system-ui;

    text-align: center;
    color: #386641;
    width: 50%;
    margin: 25px;
}

.header h1
{
    padding: 12px;
    font-size: 18px;
    text-decoration: none;
}
section .contentBx .formBx
{
	width: 50%;

}
section .contentBx .formBx h1
{
	color: #6A994E;
	font-weight: 600;
	font-size: 2.3em;
	text-transform: uppercase;

	margin-bottom: 20px;
	border-bottom: 4px solid #BFF8C6;
	display: inline-block;
	letter-spacing: 1px;
}
section .contentBx .formBx .inputBx
{

	margin-bottom: 20px;
}

section .contentBx .formBx .inputBx
{
	margin-bottom: 20px;
	font-size: 20px;
	margin-bottom: 5px;
	display: inline-block;
	color: #556B2F;
	font-weight: 520;
	font-size: 20px;
	letter-spacing: 2px;
	width: 400px;
	
}



section .contentBx .formBx .inputBx input
{
	width: 100%;
	padding:10px;
	outline: none;
	font-weight: 400px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	letter-spacing: 1px;
	color: black;
	background: #defee2;
	transition: .4s;
}



section .contentBx .formBx .inputBx input:hover
{
	background: #bff0c4;

}

input[type="submit"]
{
	width: 50%;
	height: 50px;
	border: none;
	background: #6A994E;
	border-radius: 5px;
	color: #F5FFFA;
	font-size: 16px;
	outline: none;
	letter-spacing: 2;
	transition: .3s;
	cursor: pointer;

}

input[type="submit"]:hover
{
	background: #228B22 ;
	color: #F0F8FF;

}


section .contentBx .formBx .inputBx p{

	font-size: 14px;
	margin-bottom: 10px;
}


.submit-btn {
	display:block;
    border: none;
    text-decoration: none;
    background: #6A994E;
    border: none;
    text-decoration: none;
    color: #2F4F4F;
    padding: 15px 9%;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    transition: .3s;
    font-size: 16px;
    color: #F5FFFA;
    text-decoration: none;
	width: 50%;
}

.submit-btn:hover
{
	background: #228B22 ;

}

