body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #66CDAA;
}

.Short {
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.597);
}

.video {
    display: flex;
    justify-content: center;


}

.video-txt {
    text-align: center;
    font-size: 10px;
    margin-bottom: 80px;
    padding: 0px 200px 0px 200px;
}

h1 {
    font-weight: 600;
    font-size: 30px;
}

p{
    font-size: 20px;
    color: rgb(40, 40, 40);
    

}
iframe {
    border: 0;
}
